@charset "UTF-8";
:root {
  --theme: #99cccc
}
ul {
  list-style: none;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: tomato;
  margin: 0 6px;
  transform: translateY(30px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--theme);
}

.sentence-box {
  width: 450px;
  padding: 40px 50px;
  background-color: #fff;
  border-radius: 20px;
}

.sentence-box > .sentence-text {
  text-align: center;
}

.sentence-box > .sentence-text > .text {
  font-size: 1.5625rem;
  margin: .3125rem;
  color: var(--theme)
}

.sentence-box > .sentence-text > svg {
  fill: var(--theme);
}

.sentence-box .from {
  text-align: right;
  padding: 1.2rem 0
}

.sentence-actions button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--theme);
  font-size: 16.5px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.sentence-actions button.new-sentence:hover {
  animation: shake .5s
}

@keyframes shake {
  30% {
    /* width: 118px; */
    transform: scaleX(.9);
  }
  50% {
    /* width: 122px; */
    transform: scaleX(1.1);
  }
  100% {
    /* width: 120px; */
    transform: scaleX(1);
  }
}

.sentence-actions {
  display: flex;
  justify-content: space-between;
}


